.best-receipe-area {
    position: relative;
    z-index: 1;
    padding-bottom: 50px; 
    margin-left: 200px;
  margin-top: 40px;}
  
  .single-best-receipe-area {
    position: relative;
    z-index: 1; 
  
}
    .single-best-receipe-area img {
        height: 200px;
        width: 200px;
      border-bottom: 3px solid #40ba37; }
    .single-best-receipe-area .receipe-content {
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: left; }
      .single-best-receipe-area .receipe-content a {
       color: black;}
      .single-best-receipe-area .receipe-content h5 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 400;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-best-receipe-area .receipe-content h5:hover, .single-best-receipe-area .receipe-content h5:focus {
          color: #40ba37; 
        text-decoration: none;}
     
       
        .section-heading {
            position: relative;
            z-index: 1;
            margin-bottom: 80px;
            text-align: center; }
            .section-heading h3 {
              font-size: 30px;
              margin-bottom: 0; }
            .section-heading.text-left {
              text-align: left !important; }
            .section-heading.white h3 {
              color: #ffffff; }
              #preloader {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000; }
  #preloader img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10; }
  #preloader .circle-preloader {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    border-bottom-color: #1c8314;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 2s infinite linear; }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
          