<!-- navbar wrapper -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <!-- logo image -->
    <a routerLink="/home" (click)="setDocTitle( 'Delicious-home' )"><img class="logoimg" src="assets/img/core-img/logo.png" alt="" ></a>
    
  <!-- navbar options -->
    <div class="collapse navbar-collapse nav-element" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " *ngFor="let navelement of navelements">
          <a class="nav-link navfont" (click)="setDocTitle('Delicious-'+navelement.element )" routerLink="/{{navelement.element}}" routerLinkActive="active"  >{{navelement.element}}</a>
         
        </li>
        <li class="nav-item " *ngIf='check === "true"'>
            <a class="nav-link navfont" (click)="logout()">Logout</a>
            
        </li>
        
       
       
        
      </ul>
      <!-- search bar -->
      

      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0"> 
   
          <div class="form-group">
              
              <input type="text" #name formControlName="Name" class="form-control mr-sm-2" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              
          </div>
         
          
      
      </form>
      

    </div>
  </nav>