@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
.logoimg{
    padding-left:30px;
  padding-right:30px;
}
.nav-element{
    margin-left: 50px;
}
.navfont{
    
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
        padding: 12px 18px 11px;
        font-weight: 550;
       
}
.nav-item{
    cursor:pointer;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/img/magnifying-glass.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }








