
<div class="container">
<div class="row">
    <div class="col-md-4">
      <div class="card">
    <img src="assets/img/bg-img/about.png" alt="Avatar" >
    <div class="container">
        <h3>Recipes</h3>
        <h4>{{recipes}}</h4>
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="card">
    <img src="assets/img/bg-img/users.png" alt="Avatar" >
    <div class="container">
        <h3>Users</h3>
        <h4>{{users}}</h4>
    </div>
  </div>
  </div>
  <div class="col-md-4">
      <div class="card">
    <img src="assets/img/bg-img/query.png" alt="Avatar" >
    <div class="container">
        <h3>Queries</h3>
        <h4>{{queries}}</h4>
    </div>
    </div>
  </div>
  </div>
  </div>