<div *ngIf='success === "true"' class="alert alert-success">
        <strong>Recipe added successfully!</strong> .
      </div>
      <div *ngIf='success2 === "false"' class="alert alert-success">
        <strong>Recipe already exists!</strong> .
      </div>

<div class="card">
        <h1>Add New Recipe</h1>
    <img src="assets/img/bg-img/about.png" alt="Avatar" style="width:100%">
    <div class="container">
        <input class="sinput" type="text" #box>
    
        <button class="btn btn-success sbtn"  (click)="getName(box.value); openModal('custom-modal-1')">Search</button>
    </div>
  </div>



<jw-modal id="custom-modal-1" class="modal">
        <h3>New Recipe</h3>
                    <div *ngIf="meals !== null; then box1 else box2"></div>
                    
                    <ng-template #box1>
                            <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
                            <!-- img row -->
                            <div class="row">
                                    <div class="form-group col">
                                        
                                        <img *ngIf="meals" [src]="details.strMealThumb" class="modalimg" >      
                                                
                                        
                                    </div>
                                </div>
                            <!-- first row name -->
                            <div class="row">
                                <div class="form-group col">
                                    <label for="firstName">Name</label>
                                   
                                    <input type="text" *ngIf="meals" name="name"  formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="details.strMeal" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">First Name is required</div>
                                    </div>
                                </div>
                            </div>
                             <!-- second row -->
                             <div class="row">
                                <div class="form-group col">
                                    <label for="username">Category</label>
                                   
                                    <input type="text" *ngIf="meals" name="category" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" [(ngModel)]="details.strCategory"/>
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.category.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                        <label for="username">Area</label>
                                       
                                        <input type="text" name="area" *ngIf="meals" formControlName="area" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.area.errors }" [(ngModel)]="details.strArea"/>
                                        <div *ngIf="submitted && f.area.errors" class="invalid-feedback">    
                                            <div *ngIf="f.area.errors.required">Username is required</div>
                                        </div>
                                    </div>
                                    </div>
                            
                                    <div class="row">
                                            <div class="form-group col">
                                                <label for="firstName">Image url</label>
                                               
                                                <input type="text" *ngIf="meals" name="imageurl"  formControlName="imageurl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="details.strMealThumb" />
                                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.name.errors.required">First Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                            <!-- third row -->
                                    <div class="row">
                                            <div class="form-group col">
                                        <label for="password">Ingredients</label>
                                        </div>
                                    </div>
                                   
                                        <div formArrayName="ingredients" *ngFor="let item of recipeForm.get('ingredients').controls; let i = index;">
                                            <div [formGroup]="item" class="row">
                                                <div class="form-group col"> 
                                                        <input type="text" *ngIf="ing[i]"  name="ingredients" formControlName="ingredients" class="form-control" [ngClass]="{ 'is-invalid': submitted}" value="{{ing[i] }}"/>
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="row">
                                            <div class="form-group col">
                                            <label for="password">Measurements</label>
                                            </div>
                                    </div>
                                    
                                            <div formArrayName="measurements" *ngFor="let item of recipeForm.get('measurements').controls; let i = index;">
                                                <div [formGroup]="item" class="row">
                                                    <div class="form-group col"> 
                                                            <input type="text" *ngIf="mea[i]"  name="measurements" formControlName="measurements" class="form-control" [ngClass]="{ 'is-invalid': submitted}" value="{{mea[i] }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                   
                                
                            
                            
                            <!-- fourth row  -->
                            <div class="row">
                                    <div class="form-group col">
                                        <label for="password">Instructions</label>
                                        <textarea cols="50" rows="10" type="text" name="instructions" id="instruction" *ngIf="meals" formControlName="instruction" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.instruction.errors }" [(ngModel)]="details.strInstructions" ></textarea>
                                        <div *ngIf="submitted && f.instruction.errors" class="invalid-feedback">
                                            <div *ngIf="f.instruction.errors.required">Password is required</div>
                                           
                                        </div>
                                    </div>
                            </div>
                    
                            <!-- final row -->
                            <div class="row">
                                <div class="form-group" >
                                    <button type="submit" class="btn btn-success registerbtn">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                       Submit
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-primary closebtn"  (click)="closeModal('custom-modal-1');">Close</button></ng-template>
                    <!-- second form -->
                        <ng-template #box2>
                        <form [formGroup]="userForm" (ngSubmit)="onSubmituserform()">
                            
                            <!-- first row name -->
                            <div class="row">
                                <div class="form-group col">
                                    <label for="firstName">Name</label>
                                    
                                    <input type="text" *ngIf="!meals" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">First Name is required</div>
                                    </div>
                                </div>
                            </div>
                             <!-- second row -->
                             <div class="row">
                                <div class="form-group col">
                                    <label for="username">Category</label>
                                    <input type="text" *ngIf="!meals" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
                                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                                        <div *ngIf="f.category.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                        <label for="username">Area</label>
                                        
                                        <input type="text" *ngIf="!meals" formControlName="area" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.area.errors }" />
                                        <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                                            <div *ngIf="f.area.errors.required">Username is required</div>
                                        </div>
                                    </div>
                            </div>
                            <!-- third row -->
                            <div class="row">
                               
                                        <div class="form-group col"><label for="contents">Contents</label><i class="fa fa-plus" (click)="addContents()"></i>&nbsp;<i class="fa fa-minus" (click)="removeContents()"></i> 
                                            <div formArrayName="contents" *ngFor="let item of userForm.get('contents').controls; let i = index;">
                                                <div [formGroup]="item" class="row">
                                                    <div class="form-group col">
                                                        <label for="password">Ingredients</label>
                                                        <input type="text"  formControlName="ingredients" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ingredients.errors}" />
                                                        <div *ngIf="submitted && f.ingredients.errors" class="invalid-feedback">
                                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="password">measurements</label>
                                                        <input type="text" formControlName="measurements" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.measurements.errors }" />
                                                        <div *ngIf="submitted && f.measurements.errors" class="invalid-feedback">
                                                            <div *ngIf="f.measurements.errors.required">Password is required</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </div>
                            
                            
                            <!-- fourth row  -->
                            <div class="row">
                                    <div class="form-group col">
                                        <label for="password">Instructions</label>
                                        <input type="text" *ngIf="!meals" formControlName="instruction" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.instruction.errors }" />
                                        <div *ngIf="submitted && f.instruction.errors" class="invalid-feedback">
                                            <div *ngIf="f.instruction.errors.required">Password is required</div>
                                            
                                        </div>
                                    </div>
                            </div>
                            <!-- img row -->
                            <div class="row">
                                    <div class="form-group col">
                                        <label for="password">Image</label>
                                             
                                        <input class="form-control" type="file" id="file" name="file"  (change)="onFileSelect($event)">        
                                        
                                    </div>
                                </div>
                            <!-- final row -->
                            <div class="row">
                                <div class="form-group">
                                    <button  class="btn btn-success registerbtn">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Submit
                                    </button>
                                    
                                </div>
                            </div>
                        </form><button class="btn btn-primary closebtn"  (click)="closeModal('custom-modal-1');">Close</button> </ng-template>
                    
                

    
</jw-modal>

