.best-receipe-area {
    position: relative;
    z-index: 1;
    padding-bottom: 50px; 
    margin-left: 30px;
  margin-top: 40px;}
  
  .single-best-receipe-area {
    position: relative;
    z-index: 1; 
  
}
    .single-best-receipe-area img {
        height: 200px;
        width: 200px;
      border-bottom: 3px solid #40ba37; }
    .single-best-receipe-area .receipe-content {
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: left; }
      .single-best-receipe-area .receipe-content a {
       color: black;}
      .single-best-receipe-area .receipe-content h5 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 400;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-best-receipe-area .receipe-content h5:hover, .single-best-receipe-area .receipe-content h5:focus {
          color: #40ba37; 
        text-decoration: none;}
     
       
        .section-heading {
            position: relative;
            z-index: 1;
            margin-bottom: 80px;
            text-align: center; }
            .section-heading h3 {
              font-size: 30px;
              margin-bottom: 0; }
            .section-heading.text-left {
              text-align: left !important; }
            .section-heading.white h3 {
              color: #ffffff; }
              h1{
                  text-align: center;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  font-size: 40px;
              }
        