<!--/.Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner sliderdiv" role="listbox">
      <div class="carousel-item active" >
        <div class="view">
          <img class="d-block w-100" src="assets/img/bg-img/bg1.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption slides-content">
          
          <h4>"I have long believed that good food, good eating, is all about risk. Whether we are  talking about unpasteurized Stilton, raw oysters or working for organized crime associates, food, for me, has always been an adventure."</h4>
        </div>
      </div>
      <div class="carousel-item" >
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="assets/img/bg-img/bg6.jpg"
            alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption slides-content">
         <h4>"Laughter is brightest in the place where the food is."</h4>
        </div>
      </div>
      <div class="carousel-item" >
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="assets/img/bg-img/bg7.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption slides-content">
          <h4>"One of the very nicest things about life is the way we must regularly stop whatever it is we are doing and devote our attention to eating."</h4>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
