/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~admin-lte-css/dist/css/AdminLTE.css";
@import "~admin-lte-css/dist/css/skins/_all-skins.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
ngb-carousel {
    width: 100%;
    height: 600px;
}


.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}