<div class="dt card">
  <h2>Customer Queries</h2>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover compact" id="example">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
          
        </thead>
        <tbody>
          <tr *ngFor="let query of queries; let i=index">
            <td>{{i+1}}</td>
            <td>{{query.name}}</td>
            <td>{{query.message}}</td>
            <td><i class="fa fa-trash" (click)="delete(query.id)"></i></td>
           
          </tr>
          
        </tbody>
        
      </table>
      <div class="container">
      <div class="row">
       
        
        <div class="col-md-12">
          <i class="fa fa-backward" (click)="prev()" ></i>&nbsp;
          <i class="fa fa-forward" (click)="next()" ></i>
        </div>
      </div>
      
</div>
     <!-- <button (click)="prev()" [disabled]="count2 === 0" >prev</button> <button (click)="next()">next</button> -->
    </div>